---
# ClusterRoleBinding to allow all actions (for dev/testing purposes)
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cookedpad-admin
rules:
- apiGroups: ["*"]
  resources: ["*"]
  verbs: ["*"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ServiceAccount
metadata:
  name: cookedpad-sa
  namespace: cookedpad
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cookedpad-admin-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cookedpad-admin
subjects:
- kind: ServiceAccount
  name: cookedpad-sa
  namespace: cookedpad
